
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// font-awesome
@import "~font-awesome/scss/font-awesome";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Custom Application Style
.counters{
  font-size: 12px;
  text-align: center;

  strong{
    display: block;
    font-size: 1.5em;
  }
  .vote, .answer{
    width: 60px;
    height: 60px;
    //border: solid 1px red;
  }

  .status{
    &.unanswered{
      border: none;
    }
    &.answered{
      border: solid 1px $green;
      color: $green;
    }
    &.answer-accepted{
      background: $green;
      color: white;
    }
  }
}

// Forms
form.delete-form{
  display: inline-flex;
}

// votes-control
.votes-control{
  min-width: 60px;
  margin-right: 30px;
  text-align: center;
  color: $gray-700;

  span, a{
    display: block;
  }
  span{
    &.votes-count{
      font-size: 25px;
    }
    &.favorites-count{
      font-size: 12px;
    }
  }
  a{
    cursor: pointer;
    color: $gray-600;

    &.off, &.off:hover{
      color: $gray-500;
    }

    &.favorite{
      &.favorited, &.favorited:hover{
        color: $orange ;
      }
    }
    &.vote-accepted{
      color: $green;
    }
  }
}